body {
  margin: 0;
  background: url("/images/red2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* BEGINNING OF NAVIGATION SECTION*/
nav {
  overflow: hidden;
  padding: 20px;
  background-color: black;
}

.nav-content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  line-height: 25px;
  border-radius: 4px;
}

.nav-link {
  float: right;
  margin-right: 20px;
}

nav .nav-link:hover {
  color: #fff;
}

.navigation-links {
  margin-right: 50px;
}

.nav-logo {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  color: #fff;
}
@media screen and (max-width: 870px) {
  nav .nav-links {
    float: none;
    display: block;
    text-align: left;
  }
  .navigation-links {
    float: none;
  }
}
/* END OF NAVIGATION SECTION*/

/* MY WORK SECTION */
